body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.main-column {
  width: 1000px;
  padding: 0px 20px 40px 20px;
}

.top-section {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #5984FF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-section-wrapper {
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-section.moved {
  background: linear-gradient(#5984FF, #6D8CF7);
  box-shadow: 3px 3px 5px rgba(216, 216, 216, 0.3);
}

.page-logo {
  position: relative;
  font-size: 25px;
  color: #FFD97B;
}

